<!-- SUNDAS NOREEN -->
<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<style>
      body
      {
      font-family: "Century Gothic";
      }
      #fonts {font-size:15px;}
      .form-input
      {
      background: #fafafa; border: 1px solid #eeeeee; padding: 8px; width: 80%;  margin-bottom:15px;
      }
      .wrap
      {
      width: 90%; margin: 0 auto; padding: 2rem; ;
      }
      .but
      {
      background: teal; border: 2px solid  ; color: white; padding: 10px;  text-transform: uppercase; cursor: pointer; alignment: center;width: 30%;
      }
      .wrap p
      {
      margin-top: 5px; color: black; text-align: center;
      }
   </style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Student - RMS</title>
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/en/thumb/b/b0/University_of_Engineering_and_Technology_Lahore_logo.svg/1200px-University_of_Engineering_and_Technology_Lahore_logo.svg.png"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap1.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome1.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <script src="/bootstrap/js/bootstrap1.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/theme.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
</head>
<body id="page-top">
<div id="wrapper">
    <nav style="background:teal" class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"></div>
                <div class="sidebar-brand-text mx-3"><span>Student Portal</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link active" th:href="@{/Student_Research_Opportunities}"><span>Research Opportunities</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{Applications_Student_{id}(id = ${ids})}"><span>My Applications</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/Student_Current_Research_List}"><span>Current Researches</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/Student_Completed_Research_List}"><span>Past Researches</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/Research_Paper_Tracker}"><span>Research Paper Tracker</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/Peer_Directory}"><span>Peer Directory</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav>
    <div style="background:#f9ffe5;" class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" style="color:teal;" type="button"><i class="fas fa-bars"></i></button>
                    <ul  class="navbar-nav flex-nowrap ms-auto">
                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small" style="font-size:14px;" th:text="${Name}" >Sundas Noreen</span><img class="border rounded-circle img-profile" th:src="${Picture}"></a>
                                <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" th:href="@{/Student_Profile}"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><a class="dropdown-item" th:href="@{/}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid" id="fonts" >
                <h5 style="text-transform:uppercase; color:black">
                    <center><strong>Apply for Research Opportunity</strong></center>
                </h5>
                <div class="card shadow" style="margin-bottom:20px;">
                    <div class="card-body">
                        <form action = "" class="wrap"  method = "post">
                            <div class="row" th:each="f: ${f}">
                                <div class="col-md-6">
                                    <label>Registration Number</label><br>
                                    <input type = "text" class="form-input" name = "Student_Id" th:value="${f.Student_Id}" disabled  required/><br>
                                </div>
                                <div class="col-md-6">
                                    <label>Name</label><br>
                                    <input type = "text" class="form-input" name = "Name"  th:value="${f.Name}" disabled required /><br>
                                </div>
                            </div>
                            <div class="row" th:each="f: ${f}">
                                <div class="col-md-6">
                                    <label>Research Title</label><br>
                                    <input type = "text" class="form-input" name = "Title"  th:value="${f.Title}" disabled required/><br>
                                </div>
                                <div class="col-md-6">
                                    <label>Teacher Name</label><br>
                                    <input type = "text" class="form-input" name = "Teacher_Name"  th:value="${f.Teacher_Name}" disabled required /><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Current Education Status</label><br>
                                    <select  class="form-input" name = "Degree" required>
                                        <option value="" selected disabled ></option>
                                        <option value="Bachelors">Bachelors</option>
                                        <option value="Masters">Masters</option>
                                        <option value="PhD">PhD</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Semester</label><br>
                                    <select class="form-input" name = "Semester"  required>
                                        <option value="" selected disabled></option>
                                        <option value="1">1st</option>
                                        <option value="2">2nd</option>
                                        <option value="3">3rd</option>
                                        <option value="4">4th</option>
                                        <option value="5">5th</option>
                                        <option value="6">6th</option>
                                        <option value="7">7th</option>
                                        <option value="8">8th</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Your Majors</label><br>
                                    <select class="form-input" name = "Field" required>
                                        <option value="" selected disabled></option>
                                        <option th:each="d: ${d}" th:value="${d.Name}" th:text="${d.Name}">
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Current CGPA</label><br>
                                    <input type = "text" class="form-input" name = "CGPA"  required/><br>
                                </div>
                            </div>
                            <div class="row">
                                <label>Why You want to Join this Research Project?</label><br>
                                <textarea style="height:150px;" class="form-input" name = "Reason"  required></textarea><br>
                            </div>
                            <center><button class="but" value ="Submit" >Submit</button></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="border rounded d-inline scroll-to-top" style="color:white; background:teal" href="#page-top"><i class="fas fa-angle-up"></i></a>
<script src="/js/chart.min.js"></script>
<script src="/js/bs-init.js"></script>
<script src="/js/theme.js"></script>
<script id="bs-live-reload" data-sseport="52540" data-lastchange="1636802469381" src="/js/livereload.js"></script>
</body>
</html>