<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<head th:fragment="heads">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="icon" type="image/png" href="img/Logo.png"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/Login-Form-Clean.css">
</head>
<script th:fragment="scripts" src="static/bootstrap/js/bootstrap.min.js"></script>