<!-- SUNDAS NOREEN -->

<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<body>
<section th:fragment="topbar">
    <div class="ed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ed-com-t1-left">
                        <ul>
                            <li><a href="#">University of Engineering and Technology Lahore</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ed-com-t1-right">
                        <ul>
                            <li><a href="#!" data-toggle="modal" data-target="#modal2">Sign In</a>
                            </li>
                            <li><a th:href="@{/register}" data-toggle="modal">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGO AND MENU SECTION -->
    <div class="top-logo" data-spy="affix" data-offset-top="250">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wed-logo">
                        <a href="index-2.html">
                        </a>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li><a th:href="@{/}">Home</a>
                            </li>
                            <li><a href="">Research Programs</a></li>
                            <li><a href="">Teachers</a>
                            </li>
                            <li><a href="">Student</a>
                            </li>
                            <li><a href="">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body></html>